{% extends "base.html" %}
{% block content %}

    <h1>Зміна назв колонки</h1>

    <p>

    <form id="changeNameForm" action="/" method=post>
        <div class="input-group">

            <label class="input-group-btn">
                <span class="btn btn-secondary">
                    Індекс колонки
                    <input type=number name="column_id" >
                </span>
            </label>

            <label class="input-group-btn">
                <span class="btn btn-secondary">
                    Нова назва
                    <input type=text name="new_name" >
                </span>
            </label>

            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Змінити
                    <input type=submit style="display: none;">
                </span>
            </label>

        </div>
    </form>

    <script type='text/javascript'>
        /* attach a submit handler to the form */
        $("#changeNameForm").submit(function(event) {

            event.preventDefault();

            $.ajax({
                type: "post",
                url: "/{{table}}/rename_column",
                data: postData,
                contentType: "application/x-www-form-urlencoded",
                success: function(responseData, textStatus, jqXHR) {
                    alert("Success:" + textStatus )
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("Error chaging column name")
                    console.log(errorThrown);
                }
            })
        });
    </script>

{% endblock %}
